<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue course</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>

<body>

    <div id="app">
        <div class="searchContainer">
            <i class="fa fa-search" aria-hidden="true" @click="hide = !hide"></i>
            <input type="text" placeholder="search todo..." v-model="search" :class='{hide:hide}'>
        </div>

        <div class="inputContainer">
            <div class="addBox">
                <input type="text" placeholder="add todo..." @keyup.enter="addTodo">
                <button @click="addTodo" class="addBtn">✚</button>
            </div>

        </div>
        <div class="todoContainer">
            <ul>
                <li v-for="(todo,index) in filtered">
                    <todo-component v-bind:todo="todo">

                    </todo-component>
                    <div>
                        <button @click="removeTodo(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        <div class="checkBox">
                            <input type="checkbox" class="check" v-model="todo.complete" id="checked">

                        </div>


                    </div>


                </li>

            </ul>
        </div>
        <div class="filterBox">
            <button @click="completed"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
            <button @click="all"><i class="fa fa-list" aria-hidden="true"></i></button>
            <button @click="uncompleted"><i class="fa fa-tasks" aria-hidden="true"></i>
        </button>
        </div>

    </div>
    <div class="fullpage fullpage-animate animated  ">
       <h1>ToDo App</h1>
        <div class="spinner"></div>

    </div>
    <script src="https://use.fontawesome.com/4af14fa7c8.js"></script>
    <script src="script.js"></script>

</body>

</html>
