body {
  background-color: #B5E2FA; }

#app {
  min-height: 400px;
  background-color: #33A1FD;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative; }

.complete {
  color: green; }

.searchContainer {
  padding: 10px; }
  .searchContainer i {
    border-radius: 100%;
    padding: 10px;
    background-color: #fff; }
    .searchContainer i:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .searchContainer input {
    border: none;
    background-color: #fff;
    padding: 5px; }

.searchInput {
  border: none;
  background-color: rgba(229, 229, 229, 0.82);
  padding: 5px; }

.hide {
  display: none; }

h1 {
  text-align: center;
  color: #d4d4d4; }

.inputContainer {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding: 20px 0px 20px 0px; }

.addBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.addBtn {
  border-radius: 100%;
  height: 49px;
  width: 49px;
  border: none;
  color: #31393C;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .addBtn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 100%; }
  input[type=checkbox]:hover {
    cursor: pointer; }

button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  border: none;
  color: #505050;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.taskDone {
  text-decoration: line-through; }

ul {
  list-style: none;
  width: auto;
  padding-left: 20px;
  padding-right: 20px; }

li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #FDCA40;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  li div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  li span {
    color: #fff;
    padding: 5px; }
  li button {
    color: #31393C; }

li:nth-child(odd) {
  background-color: #F79824; }

p {
  font-size: 1.5rem;
  color: #505050; }

.addBox input {
  width: 80%;
  height: 46px;
  margin: 0px 5px 0px 5px;
  border: none;
  padding-left: 20px;
  font-size: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .addBox input:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.todoContainer {
  margin-bottom: 100px; }

.hideAnimate {
  visibility: hidden;
  -webkit-transition: 2000ms;
  -o-transition: 2000ms;
  transition: 2000ms; }

p {
  width: 200px;
  margin: 0px;
  padding: 0px; }

.check, .radio {
  height: 30px;
  width: 30px;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .check:hover, .radio:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.check:after, .radio:after {
  width: 23px;
  height: 24px;
  border-radius: 100%;
  border: none;
  content: '\00D7';
  display: block;
  background-image: url("https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-32.png");
  pointer-events: none;
  font-size: 15px;
  position: absolute;
  top: -1px;
  left: 0;
  color: transparent;
  -webkit-transition: .25s all ease-in-out;
  -o-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  line-height: 15px;
  background-position: 4px 5px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent; }

.check:checked:after {
  border-color: #1fa548; }

.check:hover:after, .radio:hover:after {
  border-color: none; }

.filterBox {
  position: absolute; }
